*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0:#010D26;
    --cor1:
    --cor2:
    --cor3:
    --cor4:
}
body{
    background-color: #010D26;
}
h1{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-weight: 100;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
